<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Papera Giusta</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1>QR Code Giusto!!</h1>
    </header>
    <main>
        <img src="/img/duck10.jpg" alt="Papera" class="random-duck">
        <p class="random-duck-text">
            Hai trovato il QR code giusto! Complimenti!<br>
            Ora devi risolvere questa sfida per continuare l'avventura!<br>
        </p>
    </main>
    <footer>
        <p>&copy; 2025 Tesoro. Tutti i diritti riservati.</p>
    </footer>
</body>
</html>
