<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <header>
        <h1>Benvenuta alla tua caccia al Tesoro</h1>
    </header>
    <main>
        <section>
            <p>
                Questa è il tuo mezzo regalo da parte mia, ovvero una specie di caccia al tesoro<strong> che ti ho preparato!!</strong><br>
                Come hai scelto te sarà un'avventura ibrida, quindi ti servirà il tuo <strong>telefono</strong> e la tua voglia di camminare ed <strong>esplorare.</strong>
            </p>
        </section>
        <section>
            <div class="form-center">
                <a th:href="@{/inizio}" class="btn center-btn">Avanti</a>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2025. Tutti i diritti riservati a Valentina.</p>
    </footer>
</body>
</html>