<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <header>
        <h1>Benvenuta alla tua caccia al Tesoro</h1>
    </header>
    <main>
        <section>
            <h2>Il tuo tesoro ti aspetta</h2>
            <p>Scopri i tesori nascosti all'interno di questa caccia al tesoro che ti ho preparato!!</p>
        </section>
        <section>
            <h2>Se sei pronta a partire allora inserisci le credenziali per partire per la tua avventura</h2>
            <p>Per iniziare, accedi al tuo account o registrati se non hai ancora un account.</p>
            <div class="form-center">
                <div class="form-center">
                    <a th:href="@{/loginIniziale}" class="btn">Accedi</a>
                </div>
            </div>  
        </section>
    </main>
    <footer>
        <p>&copy; 2025. Tutti i diritti riservati a Valentina.</p>
    </footer>
</body>
</html>