<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Terza Sfida</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/text.css">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/popup.css">
</head>
<body>
    <header>
        <h1>Terza Sfida</h1>
    </header>
    <main>
        <p class="random-duck-text" style="margin-top: 1.5rem;">
            Ecco qui la tua terza sfida!<br>
            Una peperella si è fatta una <strong>vacanza.</strong><br>
            In ogni luogo ha lasciato un piccolo <strong>indizio,</strong><br>
            un piccolo frammento di una frase misteriosa...<br>
            <br>
            Trova tutti gli indizi e <strong>componi la frase completa che la peperella voleva farti capire.</strong>
        </p>
        <form class="form-center" th:action="@{/terzaSfida}" method="post">
            <div class="input-group">
                <input type="text" id="risposta" name="risposta" placeholder="Scrivi la frase qui..." autocomplete="off" />
                <button type="submit" class="btn center-btn" style="margin-bottom: 0;">Invia</button>
            </div>
        </form>
        <div style="text-align:center; margin-top: 0.7rem;">
            <button type="button" class="btn center-btn" onclick="mostraIndizio()">Hai bisogno di un indizio?</button>
        </div>
        <div id="popup-indizio" class="popup-indizio">
            <div class="popup-indizio-content">
                <span class="close-btn" onclick="chiudiIndizio()">&times;</span>
                <h3>&#128373; Indizio:</h3>
                <p>Non è azzurro, non è verde ma è...</p>
            </div>
        </div>
        <div th:if="${esito}" class="error-message" th:utext="${esito}"></div>
    </main>
    <footer>
        <p>&copy; 2025 Tesoro. Tutti i diritti riservati.</p>
    </footer>
    <script src="/js/popup.js"></script>
</body>
</html>